<a href="https://colab.research.google.com/github/rhodes-byu/cs180-winter25/blob/main/notebooks/08-sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a><p><b>After clicking the "Open in Colab" link, copy the notebook to your own Google Drive before getting started, or it will not save your work</b></p>

# Getting Started with SQLite3 in Python

This notebook provides a step-by-step guide to using SQLite3 in Python. SQLite is a lightweight, file-based database that is ideal for small to medium applications.

## What We Will Cover
- How to install SQLite3
- How to create a database and connect to it
- How to create tables and insert data
- How to query, update, and delete data
- How to use SQLite3 with Pandas

In [35]:
import sqlite3
import pandas as pd

In [59]:
!curl -o sales.db "https://raw.githubusercontent.com/rhodes-byu/cs180-winter25/refs/heads/main/databases/sales.db"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  640k  100  640k    0     0   834k      0 --:--:-- --:--:-- --:--:--  833k

### Establish a connection to the database

In [60]:
conn = sqlite3.connect('sales.db')
print(type(conn))

<class 'sqlite3.Connection'>

In [61]:
cursor = conn.cursor()
print(type(cursor))

<class 'sqlite3.Cursor'>

### Executions of queries

In [39]:
cursor.execute('SELECT * FROM Artist')

In [40]:
# Fetchall returns a list of tuples with each tuple representing a row in the table 
artists = cursor.fetchall()

# artists = cursor.fetchmany(5)
# Alternative: Fetchmany(n) returns a list of n tuples
# Used for larger dataets (query batches at a time)

artists = cursor.fetchmany(10)

In [41]:
artists[:5]

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains')]

Note: the fetchall can only be called once. If you call it again, it will return an empty list

In [42]:
cursor.fetchall()

[]

A longer query example.

In [43]:
query = '''
SELECT Artist.Name AS ArtistName, Album.Title AS AlbumTitle
FROM Artist
JOIN Album ON Artist.ArtistId = Album.ArtistId
'''

cursor.execute(query)

In [44]:
artist_album = cursor.fetchall()
artist_album[:5]

[('AC/DC', 'For Those About To Rock We Salute You'),
 ('Accept', 'Balls to the Wall'),
 ('Accept', 'Restless and Wild'),
 ('AC/DC', 'Let There Be Rock'),
 ('Aerosmith', 'Big Ones'),
 ('Alanis Morissette', 'Jagged Little Pill'),
 ('Alice In Chains', 'Facelift'),
 ('Antônio Carlos Jobim', 'Warner 25 Anos'),
 ('Apocalyptica', 'Plays Metallica By Four Cellos'),
 ('Audioslave', 'Audioslave'),
 ('Audioslave', 'Out Of Exile'),
 ('BackBeat', 'BackBeat Soundtrack'),
 ('Billy Cobham', 'The Best Of Billy Cobham'),
 ('Black Label Society', 'Alcohol Fueled Brewtality Live! [Disc 1]'),
 ('Black Label Society', 'Alcohol Fueled Brewtality Live! [Disc 2]'),
 ('Black Sabbath', 'Black Sabbath'),
 ('Black Sabbath', 'Black Sabbath Vol. 4 (Remaster)'),
 ('Body Count', 'Body Count'),
 ('Bruce Dickinson', 'Chemical Wedding'),
 ('Buddy Guy', 'The Best Of Buddy Guy - The Millenium Collection'),
 ('Caetano Veloso', 'Prenda Minha'),
 ('Caetano Veloso', 'Sozinho Remix Ao Vivo'),
 ('Chico Buarque', 'Minha Historia'),
 ('Chico Science & Nação Zumbi', 'Afrociberdelia'),
 ('Chico Science & Nação Zumbi', 'Da Lama Ao Caos'),
 ('Cidade Negra', 'Acústico MTV [Live]'),
 ('Cidade Negra', 'Cidade Negra - Hits'),
 ('Cláudio Zoli', 'Na Pista'),
 ('Various Artists', 'Axé Bahia 2001'),
 ('Led Zeppelin', 'BBC Sessions [Disc 1] [Live]'),
 ('Frank Zappa & Captain Beefheart', 'Bongo Fury'),
 ('Various Artists', 'Carnaval 2001'),
 ('Marcos Valle', 'Chill: Brazil (Disc 1)'),
 ('Antônio Carlos Jobim', 'Chill: Brazil (Disc 2)'),
 ('Metallica', 'Garage Inc. (Disc 1)'),
 ('Queen', 'Greatest Hits II'),
 ('Kiss', 'Greatest Kiss'),
 ('Spyro Gyra', 'Heart of the Night'),
 ('Green Day', 'International Superhits'),
 ('David Coverdale', 'Into The Light'),
 ('Gonzaguinha', 'Meus Momentos'),
 ('Os Mutantes', 'Minha História'),
 ('Deep Purple', 'MK III The Final Concerts [Disc 1]'),
 ('Led Zeppelin', 'Physical Graffiti [Disc 1]'),
 ('Various Artists', 'Sambas De Enredo 2001'),
 ('Santana', 'Supernatural'),
 ('Ed Motta', 'The Best of Ed Motta'),
 ('Miles Davis', 'The Essential Miles Davis [Disc 1]'),
 ('Miles Davis', 'The Essential Miles Davis [Disc 2]'),
 ('Deep Purple', 'The Final Concerts (Disc 2)'),
 ('Gene Krupa', "Up An' Atom"),
 ('Toquinho & Vinícius', 'Vinícius De Moraes - Sem Limite'),
 ('Various Artists', 'Vozes do MPB'),
 ('Creedence Clearwater Revival', 'Chronicle, Vol. 1'),
 ('Creedence Clearwater Revival', 'Chronicle, Vol. 2'),
 ('Cássia Eller', 'Cássia Eller - Coleção Sem Limite [Disc 2]'),
 ('Cássia Eller', 'Cássia Eller - Sem Limite [Disc 1]'),
 ('Deep Purple', 'Come Taste The Band'),
 ('Deep Purple', 'Deep Purple In Rock'),
 ('Deep Purple', 'Fireball'),
 ('Deep Purple',
  "Knocking at Your Back Door: The Best Of Deep Purple in the 80's"),
 ('Deep Purple', 'Machine Head'),
 ('Deep Purple', 'Purpendicular'),
 ('Deep Purple', 'Slaves And Masters'),
 ('Deep Purple', 'Stormbringer'),
 ('Deep Purple', 'The Battle Rages On'),
 ('Def Leppard', "Vault: Def Leppard's Greatest Hits"),
 ('Dennis Chambers', 'Outbreak'),
 ('Djavan', 'Djavan Ao Vivo - Vol. 02'),
 ('Djavan', 'Djavan Ao Vivo - Vol. 1'),
 ('Elis Regina', 'Elis Regina-Minha História'),
 ('Eric Clapton', 'The Cream Of Clapton'),
 ('Eric Clapton', 'Unplugged'),
 ('Faith No More', 'Album Of The Year'),
 ('Faith No More', 'Angel Dust'),
 ('Faith No More', 'King For A Day Fool For A Lifetime'),
 ('Faith No More', 'The Real Thing'),
 ('Falamansa', 'Deixa Entrar'),
 ('Foo Fighters', 'In Your Honor [Disc 1]'),
 ('Foo Fighters', 'In Your Honor [Disc 2]'),
 ('Foo Fighters', 'One By One'),
 ('Foo Fighters', 'The Colour And The Shape'),
 ('Frank Sinatra', 'My Way: The Best Of Frank Sinatra [Disc 1]'),
 ('Funk Como Le Gusta', 'Roda De Funk'),
 ('Gilberto Gil', 'As Canções de Eu Tu Eles'),
 ('Gilberto Gil', 'Quanta Gente Veio Ver (Live)'),
 ('Gilberto Gil', 'Quanta Gente Veio ver--Bônus De Carnaval'),
 ('Godsmack', 'Faceless'),
 ('Green Day', 'American Idiot'),
 ("Guns N' Roses", 'Appetite for Destruction'),
 ("Guns N' Roses", 'Use Your Illusion I'),
 ("Guns N' Roses", 'Use Your Illusion II'),
 ('Incognito', 'Blue Moods'),
 ('Iron Maiden', 'A Matter of Life and Death'),
 ('Iron Maiden', 'A Real Dead One'),
 ('Iron Maiden', 'A Real Live One'),
 ('Iron Maiden', 'Brave New World'),
 ('Iron Maiden', 'Dance Of Death'),
 ('Iron Maiden', 'Fear Of The Dark'),
 ('Iron Maiden', 'Iron Maiden'),
 ('Iron Maiden', 'Killers'),
 ('Iron Maiden', 'Live After Death'),
 ('Iron Maiden', 'Live At Donington 1992 (Disc 1)'),
 ('Iron Maiden', 'Live At Donington 1992 (Disc 2)'),
 ('Iron Maiden', 'No Prayer For The Dying'),
 ('Iron Maiden', 'Piece Of Mind'),
 ('Iron Maiden', 'Powerslave'),
 ('Iron Maiden', 'Rock In Rio [CD1]'),
 ('Iron Maiden', 'Rock In Rio [CD2]'),
 ('Iron Maiden', 'Seventh Son of a Seventh Son'),
 ('Iron Maiden', 'Somewhere in Time'),
 ('Iron Maiden', 'The Number of The Beast'),
 ('Iron Maiden', 'The X Factor'),
 ('Iron Maiden', 'Virtual XI'),
 ('James Brown', 'Sex Machine'),
 ('Jamiroquai', 'Emergency On Planet Earth'),
 ('Jamiroquai', 'Synkronized'),
 ('Jamiroquai', 'The Return Of The Space Cowboy'),
 ('JET', 'Get Born'),
 ('Jimi Hendrix', 'Are You Experienced?'),
 ('Joe Satriani', 'Surfing with the Alien (Remastered)'),
 ('Jorge Ben', 'Jorge Ben Jor 25 Anos'),
 ('Jota Quest', 'Jota Quest-1995'),
 ('João Suplicy', 'Cafezinho'),
 ('Judas Priest', 'Living After Midnight'),
 ('Kiss', 'Unplugged [Live]'),
 ('Led Zeppelin', 'BBC Sessions [Disc 2] [Live]'),
 ('Led Zeppelin', 'Coda'),
 ('Led Zeppelin', 'Houses Of The Holy'),
 ('Led Zeppelin', 'In Through The Out Door'),
 ('Led Zeppelin', 'IV'),
 ('Led Zeppelin', 'Led Zeppelin I'),
 ('Led Zeppelin', 'Led Zeppelin II'),
 ('Led Zeppelin', 'Led Zeppelin III'),
 ('Led Zeppelin', 'Physical Graffiti [Disc 2]'),
 ('Led Zeppelin', 'Presence'),
 ('Led Zeppelin', 'The Song Remains The Same (Disc 1)'),
 ('Led Zeppelin', 'The Song Remains The Same (Disc 2)'),
 ('Legião Urbana', 'A TempestadeTempestade Ou O Livro Dos Dias'),
 ('Legião Urbana', 'Mais Do Mesmo'),
 ('Lenny Kravitz', 'Greatest Hits'),
 ('Lulu Santos', 'Lulu Santos - RCA 100 Anos De Música - Álbum 01'),
 ('Lulu Santos', 'Lulu Santos - RCA 100 Anos De Música - Álbum 02'),
 ('Marillion', 'Misplaced Childhood'),
 ('Marisa Monte', 'Barulhinho Bom'),
 ('Marvin Gaye', 'Seek And Shall Find: More Of The Best (1963-1981)'),
 ('Men At Work', 'The Best Of Men At Work'),
 ('Metallica', 'Black Album'),
 ('Metallica', 'Garage Inc. (Disc 2)'),
 ('Metallica', "Kill 'Em All"),
 ('Metallica', 'Load'),
 ('Metallica', 'Master Of Puppets'),
 ('Metallica', 'ReLoad'),
 ('Metallica', 'Ride The Lightning'),
 ('Metallica', 'St. Anger'),
 ('Metallica', '...And Justice For All'),
 ('Miles Davis', 'Miles Ahead'),
 ('Milton Nascimento', 'Milton Nascimento Ao Vivo'),
 ('Milton Nascimento', 'Minas'),
 ('Motörhead', 'Ace Of Spades'),
 ('Mônica Marianno', 'Demorou...'),
 ('Mötley Crüe', 'Motley Crue Greatest Hits'),
 ('Nirvana', 'From The Muddy Banks Of The Wishkah [Live]'),
 ('Nirvana', 'Nevermind'),
 ('O Terço', 'Compositores'),
 ('Olodum', 'Olodum'),
 ('Os Paralamas Do Sucesso', 'Acústico MTV'),
 ('Os Paralamas Do Sucesso', 'Arquivo II'),
 ('Os Paralamas Do Sucesso', 'Arquivo Os Paralamas Do Sucesso'),
 ('Ozzy Osbourne', 'Bark at the Moon (Remastered)'),
 ('Ozzy Osbourne', 'Blizzard of Ozz'),
 ('Ozzy Osbourne', 'Diary of a Madman (Remastered)'),
 ('Ozzy Osbourne', 'No More Tears (Remastered)'),
 ('Ozzy Osbourne', 'Tribute'),
 ('Page & Plant', 'Walking Into Clarksdale'),
 ('Passengers', 'Original Soundtracks 1'),
 ("Paul D'Ianno", 'The Beast Live'),
 ('Pearl Jam', 'Live On Two Legs [Live]'),
 ('Pearl Jam', 'Pearl Jam'),
 ('Pearl Jam', 'Riot Act'),
 ('Pearl Jam', 'Ten'),
 ('Pearl Jam', 'Vs.'),
 ('Pink Floyd', 'Dark Side Of The Moon'),
 ('Planet Hemp', 'Os Cães Ladram Mas A Caravana Não Pára'),
 ('Queen', 'Greatest Hits I'),
 ('Queen', 'News Of The World'),
 ('R.E.M. Feat. Kate Pearson', 'Out Of Time'),
 ('R.E.M.', 'Green'),
 ('R.E.M.', 'New Adventures In Hi-Fi'),
 ('R.E.M.', 'The Best Of R.E.M.: The IRS Years'),
 ('Raimundos', 'Cesta Básica'),
 ('Raul Seixas', 'Raul Seixas'),
 ('Red Hot Chili Peppers', 'Blood Sugar Sex Magik'),
 ('Red Hot Chili Peppers', 'By The Way'),
 ('Red Hot Chili Peppers', 'Californication'),
 ('Rush', 'Retrospective I (1974-1980)'),
 ('Santana', 'Santana - As Years Go By'),
 ('Santana', 'Santana Live'),
 ('Skank', 'Maquinarama'),
 ('Skank', 'O Samba Poconé'),
 ('Smashing Pumpkins', 'Judas 0: B-Sides and Rarities'),
 ('Smashing Pumpkins', 'Rotten Apples: Greatest Hits'),
 ('Soundgarden', 'A-Sides'),
 ('Spyro Gyra', 'Morning Dance'),
 ('Stevie Ray Vaughan & Double Trouble', 'In Step'),
 ('Stone Temple Pilots', 'Core'),
 ('System Of A Down', 'Mezmerize'),
 ('Terry Bozzio, Tony Levin & Steve Stevens', '[1997] Black Light Syndrome'),
 ('The Black Crowes', 'Live [Disc 1]'),
 ('The Black Crowes', 'Live [Disc 2]'),
 ('The Clash', 'The Singles'),
 ('The Cult', 'Beyond Good And Evil'),
 ('The Cult',
  'Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]'),
 ('The Doors', 'The Doors'),
 ('The Police', 'The Police Greatest Hits'),
 ('The Rolling Stones', 'Hot Rocks, 1964-1971 (Disc 1)'),
 ('The Rolling Stones', 'No Security'),
 ('The Rolling Stones', 'Voodoo Lounge'),
 ('The Tea Party', 'Tangents'),
 ('The Tea Party', 'Transmission'),
 ('The Who', 'My Generation - The Very Best Of The Who'),
 ('Tim Maia', 'Serie Sem Limite (Disc 1)'),
 ('Tim Maia', 'Serie Sem Limite (Disc 2)'),
 ('Titãs', 'Acústico'),
 ('Titãs', 'Volume Dois'),
 ('Battlestar Galactica', 'Battlestar Galactica: The Story So Far'),
 ('Battlestar Galactica', 'Battlestar Galactica, Season 3'),
 ('Heroes', 'Heroes, Season 1'),
 ('Lost', 'Lost, Season 3'),
 ('Lost', 'Lost, Season 1'),
 ('Lost', 'Lost, Season 2'),
 ('U2', 'Achtung Baby'),
 ('U2', "All That You Can't Leave Behind"),
 ('U2', 'B-Sides 1980-1990'),
 ('U2', 'How To Dismantle An Atomic Bomb'),
 ('U2', 'Pop'),
 ('U2', 'Rattle And Hum'),
 ('U2', 'The Best Of 1980-1990'),
 ('U2', 'War'),
 ('U2', 'Zooropa'),
 ('UB40', 'UB40 The Best Of - Volume Two [UK]'),
 ('Van Halen', 'Diver Down'),
 ('Van Halen', 'The Best Of Van Halen, Vol. I'),
 ('Van Halen', 'Van Halen'),
 ('Van Halen', 'Van Halen III'),
 ('Velvet Revolver', 'Contraband'),
 ('Vinícius De Moraes', 'Vinicius De Moraes'),
 ('Zeca Pagodinho', 'Ao Vivo [IMPORT]'),
 ('The Office', 'The Office, Season 1'),
 ('The Office', 'The Office, Season 2'),
 ('The Office', 'The Office, Season 3'),
 ('Dread Zeppelin', 'Un-Led-Ed'),
 ('Battlestar Galactica (Classic)',
  'Battlestar Galactica (Classic), Season 1'),
 ('Aquaman', 'Aquaman'),
 ('U2', 'Instant Karma: The Amnesty International Campaign to Save Darfur'),
 ('Ozzy Osbourne', 'Speak of the Devil'),
 ('Scorpions',
  '20th Century Masters - The Millennium Collection: The Best of Scorpions'),
 ('House Of Pain', 'House of Pain'),
 ('O Rappa',
  'Radio Brasil (O Som da Jovem Vanguarda) - Seleccao de Henrique Amaro'),
 ('Cake', 'Cake: B-Sides and Rarities'),
 ('Lost', 'LOST, Season 4'),
 ('Aisha Duo', 'Quiet Songs'),
 ('Habib Koité and Bamada', 'Muso Ko'),
 ('Karsh Kale', 'Realize'),
 ('The Posies', 'Every Kind of Light'),
 ('Luciana Souza/Romero Lubambo', 'Duos II'),
 ('Aaron Goldberg', 'Worlds'),
 ('Nicolaus Esterhazy Sinfonia', 'The Best of Beethoven'),
 ('Temple of the Dog', 'Temple of the Dog'),
 ('Chris Cornell', 'Carry On'),
 ('Audioslave', 'Revelations'),
 ('Alberto Turco & Nova Schola Gregoriana',
  'Adorate Deum: Gregorian Chant from the Proper of the Mass'),
 ('Richard Marlow & The Choir of Trinity College, Cambridge',
  'Allegri: Miserere'),
 ('English Concert & Trevor Pinnock', 'Pachelbel: Canon & Gigue'),
 ('Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker',
  'Vivaldi: The Four Seasons'),
 ('Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer',
  'Bach: Violin Concertos'),
 ('Wilhelm Kempff', 'Bach: Goldberg Variations'),
 ('Yo-Yo Ma', 'Bach: The Cello Suites'),
 ('Scholars Baroque Ensemble', 'Handel: The Messiah (Highlights)'),
 ('Academy of St. Martin in the Fields & Sir Neville Marriner',
  'The World of Classical Favourites'),
 ('Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner',
  'Sir Neville Marriner: A Celebration'),
 ('Berliner Philharmoniker, Claudio Abbado & Sabine Meyer',
  'Mozart: Wind Concertos'),
 ('Royal Philharmonic Orchestra & Sir Thomas Beecham',
  'Haydn: Symphonies 99 - 104'),
 ('Orchestre Révolutionnaire et Romantique & John Eliot Gardiner',
  'Beethoven: Symhonies Nos. 5 & 6'),
 ('Britten Sinfonia, Ivor Bolton & Lesley Garrett', 'A Soprano Inspired'),
 ('Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti',
  'Great Opera Choruses'),
 ('Sir Georg Solti & Wiener Philharmoniker', 'Wagner: Favourite Overtures'),
 ('Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair',
  'Fauré: Requiem, Ravel: Pavane & Others'),
 ('London Symphony Orchestra & Sir Charles Mackerras',
  'Tchaikovsky: The Nutcracker'),
 ('Barry Wordsworth & BBC Concert Orchestra', 'The Last Night of the Proms'),
 ('Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker',
  'Puccini: Madama Butterfly - Highlights'),
 ('Eugene Ormandy',
  'Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies'),
 ('Luciano Pavarotti', "Pavarotti's Opera Made Easy"),
 ('Leonard Bernstein & New York Philharmonic',
  "Great Performances - Barber's Adagio and Other Romantic Favorites for Strings"),
 ('Boston Symphony Orchestra & Seiji Ozawa', 'Carmina Burana'),
 ('Aaron Copland & London Symphony Orchestra',
  'A Copland Celebration, Vol. I'),
 ('Ton Koopman', 'Bach: Toccata & Fugue in D Minor'),
 ('Sergei Prokofiev & Yuri Temirkanov', 'Prokofiev: Symphony No.1'),
 ('Chicago Symphony Orchestra & Fritz Reiner', 'Scheherazade'),
 ('Orchestra of The Age of Enlightenment', 'Bach: The Brandenburg Concertos'),
 ('Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra',
  'Chopin: Piano Concertos Nos. 1 & 2'),
 ('James Levine', 'Mascagni: Cavalleria Rusticana'),
 ('Berliner Philharmoniker & Hans Rosbaud', 'Sibelius: Finlandia'),
 ('Maurizio Pollini', 'Beethoven Piano Sonatas: Moonlight & Pastorale'),
 ('Gustav Mahler',
  'Great Recordings of the Century - Mahler: Das Lied von der Erde'),
 ('Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos',
  'Elgar: Cello Concerto & Vaughan Williams: Fantasias'),
 ('Edo de Waart & San Francisco Symphony', 'Adams, John: The Chairman Dances'),
 ('Antal Doráti & London Symphony Orchestra',
  "Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory"),
 ('Choir Of Westminster Abbey & Simon Preston',
  'Palestrina: Missa Papae Marcelli & Allegri: Miserere'),
 ('Michael Tilson Thomas & San Francisco Symphony',
  'Prokofiev: Romeo & Juliet'),
 ('Eugene Ormandy', 'Strauss: Waltzes'),
 ('Michael Tilson Thomas & San Francisco Symphony',
  'Berlioz: Symphonie Fantastique'),
 ('Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker',
  'Bizet: Carmen Highlights'),
 ("The King's Singers", 'English Renaissance'),
 ('English Concert & Trevor Pinnock',
  'Handel: Music for the Royal Fireworks (Original Version 1749)'),
 ('Berliner Philharmoniker & Herbert Von Karajan',
  'Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande'),
 ('Sir Georg Solti, Sumi Jo & Wiener Philharmoniker',
  'Mozart Gala: Famous Arias'),
 ("Christopher O'Riley", 'SCRIABIN: Vers la flamme'),
 ('Fretwork', 'Armada: Music from the Courts of England and Spain'),
 ('Berliner Philharmoniker & Herbert Von Karajan',
  'Mozart: Symphonies Nos. 40 & 41'),
 ('Amy Winehouse', 'Back to Black'),
 ('Amy Winehouse', 'Frank'),
 ('Calexico', 'Carried to Dust (Bonus Track Version)'),
 ('Otto Klemperer & Philharmonia Orchestra',
  "Beethoven: Symphony No. 6 'Pastoral' Etc."),
 ('Yehudi Menuhin', 'Bartok: Violin & Viola Concertos'),
 ('Philharmonia Orchestra & Sir Neville Marriner',
  "Mendelssohn: A Midsummer Night's Dream"),
 ('Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart',
  'Bach: Orchestral Suites Nos. 1 - 4'),
 ('Les Arts Florissants & William Christie',
  'Charpentier: Divertissements, Airs & Concerts'),
 ('The 12 Cellists of The Berlin Philharmonic', 'South American Getaway'),
 ('Adrian Leaper & Doreen de Feis', 'Górecki: Symphony No. 3'),
 ('Roger Norrington, London Classical Players', 'Purcell: The Fairy Queen'),
 ("Charles Dutoit & L'Orchestre Symphonique de Montréal",
  'The Ultimate Relexation Album'),
 ('Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir',
  'Purcell: Music for the Queen Mary'),
 ("Kent Nagano and Orchestre de l'Opéra de Lyon",
  'Weill: The Seven Deadly Sins'),
 ('Julian Bream',
  'J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro'),
 ('Berliner Philharmoniker & Herbert Von Karajan',
  'Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps'),
 ('Martin Roscoe', 'Szymanowski: Piano Works, Vol. 1'),
 ('Göteborgs Symfoniker & Neeme Järvi', 'Nielsen: The Six Symphonies'),
 ('Itzhak Perlman', "Great Recordings of the Century: Paganini's 24 Caprices"),
 ('Michele Campanella', "Liszt - 12 Études D'Execution Transcendante"),
 ('Gerald Moore',
  'Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder'),
 ('Mela Tenenbaum, Pro Musica Prague & Richard Kapp',
  'Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3'),
 ('Eugene Ormandy', 'Respighi:Pines of Rome'),
 ('Emerson String Quartet',
  "Schubert: The Late String Quartets & String Quintet (3 CD's)"),
 ('C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu',
  "Monteverdi: L'Orfeo"),
 ('Nash Ensemble', 'Mozart: Chamber Music'),
 ('Philip Glass Ensemble',
  'Koyaanisqatsi (Soundtrack from the Motion Picture)')]

### Printing all available tables

In [45]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
tables

[('Customer',),
 ('Employee',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Track',),
 ('PlaylistTrack',),
 ('Playlist',),
 ('Genre',),
 ('Album',),
 ('Artist',)]

In [46]:
# Close the connection
conn.close()

The `sqlite_master` table in SQLite contains information about all the tables, indexes, triggers, and views in the database. Here are the columns available in the `sqlite_master` table:

- **type**: The type of database object, which can be one of 'table', 'index', 'trigger', or 'view'.
- **name**: The name of the database object.
- **tbl_name**: The name of the table associated with the object (for indexes, triggers, and views).
- **rootpage**: The page number of the root b-tree page for tables and indexes.
- **sql**: The SQL statement that was used to create the object.

# Creating a Database

In [47]:
# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()


## Creating a Table

Tables store data in a structured format with rows and columns. Below, we create a simple `users` table.

In [48]:
# Create a table named 'users'
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    email TEXT UNIQUE
)
''')

# Commit the changes
conn.commit()

In SQLite3, you only need to call `conn.commit()` after executing queries that modify the database. This ensures that the changes you made are permanently saved. Below are the common types of queries that require a commit:

- **INSERT Statements:** Adding new records.
- **UPDATE Statements:** Modifying existing records.
- **DELETE Statements:** Removing records.
- **DDL (Data Definition Language) Statements:** These include operations such as:
  - `CREATE TABLE`
  - `DROP TABLE`
  - `ALTER TABLE`

For queries that only retrieve data (like **SELECT** statements), calling `conn.commit()` is not necessary because they do not alter the state of the database.


## Inserting Data

We can use the `INSERT INTO` statement to add records to the table.

In [50]:
# Insert data into the users table

try:
    cursor.execute("INSERT INTO users (name, age, email) VALUES ('Alice', 25, 'alice@example.com')")
except sqlite3.IntegrityError as e:
    print('Error inserting data:', e)

try:
    cursor.execute("INSERT INTO users (name, age, email) VALUES ('Bob', 30, 'bob@example.com')")
except sqlite3.IntegrityError as e:
    print('Error inserting data:', e)

# Commit changes
conn.commit()

Error inserting data: UNIQUE constraint failed: users.email
Error inserting data: UNIQUE constraint failed: users.email

### Incerting multiple lines at a time using `executemany`.

In [51]:
# Data to be inserted
users = [
    ('Charlie', 28, 'charlie@example.com'),
    ('David', 35, 'david@example.com'),
    ('Eve', 22, 'eve@example.com')
]

# Insert multiple rows using executemany
try:
    cursor.executemany("INSERT INTO users (name, age, email) VALUES (?, ?, ?)", users)
except sqlite3.IntegrityError as e:
    print('Error inserting data:', e)

# Commit changes


conn.commit()

Note the usage of ? as placeholders. The tuple of ?'s must match the number of columns.

In [52]:
cursor.execute("SELECT * FROM users")
cursor.fetchall()

[(1, 'Alice', 25, 'alice@example.com'),
 (2, 'Bob', 30, 'bob@example.com'),
 (3, 'Charlie', 28, 'charlie@example.com'),
 (4, 'David', 35, 'david@example.com'),
 (5, 'Eve', 22, 'eve@example.com')]


## Updating Data

To update existing records, we use the `UPDATE` statement.

In [53]:
# Update a user's age
cursor.execute("UPDATE users SET age = 26 WHERE email = 'alice@example.com'")

# Commit changes
conn.commit()

In [54]:
cursor.execute("SELECT * FROM users")
cursor.fetchall()

[(1, 'Alice', 26, 'alice@example.com'),
 (2, 'Bob', 30, 'bob@example.com'),
 (3, 'Charlie', 28, 'charlie@example.com'),
 (4, 'David', 35, 'david@example.com'),
 (5, 'Eve', 22, 'eve@example.com')]


## Deleting Data

To remove records, we use the `DELETE` statement.

In [55]:
# Delete a user
cursor.execute("DELETE FROM users WHERE name = 'Bob'")

# Commit changes
conn.commit()


## Closing the Connection

Always close the database connection when you're done to free up resources.

In [56]:
# Close the connection
conn.close()

## Pandas and SQLite

In [69]:
conn = sqlite3.connect('sales.db')
cursor = conn.cursor()
cursor = conn.cursor()

In [70]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
tables

[('Customer',),
 ('Employee',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Track',),
 ('PlaylistTrack',),
 ('Playlist',),
 ('Genre',),
 ('Album',),
 ('Artist',)]

In [71]:
# Read the users table into a Pandas DataFrame
df = pd.read_sql_query("SELECT * FROM Artist", conn)
df.head()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [ ]:
query = "SELECT * FROM InvoiceLine"

In [75]:
# Execute the query
result = pd.read_sql_query(query, conn)

# Display the result
result.head()

   InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0              1          1        2       0.99         1
1              2          1        4       0.99         1
2              3          2        6       0.99         1
3              4          2        8       0.99         1
4              5          2       10       0.99         1

In [76]:
query = """
SELECT InvoiceID, Track.Name AS NAME, SUM(Quantity) as TotalSold
FROM InvoiceLine
JOIN Track ON InvoiceLine.TrackID = Track.TrackID
GROUP BY Track.Name
HAVING SUM(Quantity) > 2
ORDER BY TotalSold DESC;
"""

In [77]:
pd.read_sql_query(query, conn)

    InvoiceId                       NAME  TotalSold
0          40                The Trooper          5
1          67                   Untitled          4
2          40    The Number Of The Beast          4
3          12        Sure Know Something          4
4          41       Hallowed Be Thy Name          4
5          95                   Eruption          4
6         145          Where Eagles Dare          3
7           4  Welcome Home (Sanitarium)          3
8         199             Sweetest Thing          3
9          93                  Surrender          3
10        156         Stairway To Heaven          3
11         61                   Selvagem          3
12        147                  Sanctuary          3
13        292                    Release          3
14         47             Plaster Caster          3
15         11           Linha Do Equador          3
16         67                Iron Maiden          3
17         39            Heaven Can Wait          3
18         22      Good Golly Miss Molly          3
19         65          Flying High Again          3
20         12         Dazed and Confused          3
21         39    Can I Play With Madness          3
22         24                     Brasil          3
23         39             Blood Brothers          3
24        144      2 Minutes To Midnight          3

# Now it's your turn!

Below are the questions designed to explore and analyze the data in the `sales.db` database:

1. **How many records are there in the `Invoice` table?**

2. **What are the names of all the artists in the `Artist` table?**

3. **What is the total revenue generated from all invoices?**

4. **Which customer has made the most purchases?**

5. **What are the top 5 most sold tracks?**

6. **What is the average unit price of tracks sold?**

7. **How many customers are there in each country?**

8. **Which employee has generated the most revenue from their sales?**

9. **What are the top 3 genres by the number of tracks?**

### Answer Below: